* {
    font-family: 'Roboto', sans-serif;
}

a { 
    text-decoration: none;
    font-weight: bolder;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .phoneblock {
        width: 90%;
    }
}