extends layout

block content
    .sixteen.columns
        h1.remove-bottom Jason Davis
        hr
    .eight.columns.phoneblock
        h3 About Me
        p.
            I am a web developer for Golfweek (Turnstile 
            Media Group). I have worked on several 
            AngularJS web apps as well as more 
            conventional pages.  I love learning new 
            technologies, and fixing or at least trying to 
            fix things with new technologies.
        p
            a(href="JasonDavis.pdf") My resumé.
        br

    .eight.columns.phoneblock
        h3 Professional Experience
        ul.square
            li Golfweek:&nbsp;
                a(href="https://play.google.com/store/apps/details?id=com.handmark.GolfWeek&hl=en")
                    | Google Play
                a(href="https://itunes.apple.com/us/app/golfweek/id362496787?ls=1&mt=8")
                    | &nbsp;/ iTunes
                a(href="http://app.golfweek.com/")
                    | &nbsp;/ mobile web
            li Golfstat Live:&nbsp;
                a(href="https://play.google.com/store/apps/details?id=com.golfstat.app&hl=en")
                    | Google Play
                a(href="https://itunes.apple.com/us/app/golfstat-live/id699728318?mt=8")
                    | &nbsp;/ iTunes
                a(href="http://golfstat.golfweek.com/mobile/")
                    | &nbsp;/ mobile web
            li
                span
                    a(href="http://thegolfwire.com/") The Golfwire &nbsp;
                &amp; &nbsp;
                span
                    a(href="http://www.professionalartistmag.com/") Professional Artist Magazine