doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Where you find Jason')
    meta(name='author', content='Jason Davis')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")
    title #{title} | Not That Jason
    != css('styles')
  body
    .container
        block content
    != js('app')